#mydiv1{
    width: 80%;
    height: 300px;
background-color: rgb(201, 231, 33);
position:relative;
top:100px;
    display: flex;
    justify-content: space-between;    


    border: 10px solid black;
    align-items: center;
}
#mydiv2{
    width: 80%;
    height: 200px;
background-color: rgb(226, 229, 29);
border: 10px solid black;
position:relative;
top:100px;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(1, 4fr);
}